{% extends "base.html" %}
{% load staticfiles i18n compress%}

{% block content %}

<h1>Our partners</h1>

<div class="dexp-grid-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="view-team-team-wrapper">
    <p><img alt="" src="{% static 'images/earthwatch-logo-524.png' %}" style="width: 100%;"><strong>Join FreshWater Watch</strong>

    </p>
    <p>Be part of a community of citizen scientists monitoring water quality around the world and contribute to a global research project exploring one of the
      major challenges facing 21st century society – the FreshWater Challenge.</p>

    <p><strong>Learn about Fresh Water</strong></p>

    <p>Learn more about the FreshWater Challenge in your region and gain an insight to how it affects livelihoods around the world.</p>

    <p><strong>Join an Earthwatch expedition</strong></p>

    <p>For over 40 years Earthwatch has focused its research on critical environmental issues.</p>

    <p>Our expeditions engage people worldwide in scientific field research and education to promote the understanding and action necessary for a sustainable
      environment. Through your hard work and support you can help us understand a rapidly changing world.</p>

    <p>Visit the <a href="http://www.earthwatch.org" target="_blank">Earthwatch website</a> to join an expedition and experience working alongside scientists in
      the field.</p>
  </div>
</div>

<div class="dexp-grid-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="view-team-team-wrapper">
    <p><img alt="" src="{% static 'images/logo_earthwatch1.png' %}" style="width: 100%;"><strong>Start fundraising</strong>

    </p>
    <p>Wherever you are in the world, you can help raise vital funds to transform lives.</p>

    <p>Think of your own way to raise funds for WaterAid, or check out ‘The Inspiration Station’ with 30 ways to raise funds for WaterAid.</p>

    <p><strong>Volunteering in our projects</strong>

    </p>
    <p>WaterAid promotes community ownership and for that reason we do not offer placements overseas in the countries we work in.</p>

    <p>However, if you think your business skills could benefit WaterAid and want to discuss this further contact <a href="mailto:katiegrace@wateraid.org">katiegrace@wateraid.org</a>
    </p>

    <p><strong>Get involved: UK, USA, Canada, Australia, Sweden, Japan </strong></p>

    <p>If you are based in the UK, USA, Canada, Australia, Sweden or Japan there are many ways to get involved on offer through our WaterAid Member Country
      offices based in the these countries.</p>

    <p>Take part in a challenge event, join a local WaterAid group, donate some of your pre-tax pay through payroll giving or join our volunteer Speaker Network
      (UK only).</p>

    <p>Visit <a href="http://www.wateraid.org/get-involved" target="_blank">www.wateraid.org/get-involved</a> and select your country of residence or contact <a
      href="mailto:hwp@wateraid.org">hwp@wateraid.org</a> to find out more.</p>

    <p><strong>Campaigning </strong></p>

    <p>Find out more about our <a href="http://www.wateraid.org/uk/get-involved/campaigns" target="_blank">latest campaigns</a> and how you could get involved.
    </p>
  </div>
</div>

<div class="dexp-grid-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="view-team-team-wrapper">
    <p><img alt="" src="{% static 'images/WWF_25mm_no_tab_0.png' %}" style="width: 50%;">

    </p>
    <p><strong>Join WWF </strong>

    </p>
    <p>Become a <a href="http://wwf.org/" target="_blank">WWF member</a> and your money will be used to support vital work around the world. You’ll also be part
      of a passionate, global community and be kept informed with lively magazines and email updates. Alternatively, make a <a
        href="http://wwf.panda.org/how_you_can_help/support_wwf/donate/" target="_blank">one-off donation</a> to WWF or <a
        href="http://wwf.panda.org/how_you_can_help/support_wwf/adopt_an_animal/" target="_blank">adopt an animal</a>.</p>

    <p><strong>Fundraising events &amp; Campaigns </strong></p>

    <p>From marathons to bike rides, wherever you are in the world there’s lots of events you can take part in to support WWF’s work – find fundraising
      opportunities and events in your area through the links on our international hub. Whether making a pledge to live greener or asking MPs to strengthen
      bills on energy, logging or marine protection, your help is invaluable. Find out more about our <a
        href="http://wwf.panda.org/who_we_are/wwf_offices/armenia/campaigns/" target="_blank">latest global campaigns</a>.</p>

    <p><strong>Sign up to Earth Hour </strong></p>

    <p><strong>WWF’s&nbsp;</strong><span style="line-height: 1.6;"><strong>Earth Hour</strong> is a unique annual phenomenon that focuses the world’s attention on our amazing planet and how we need to protect it. At 8.30pm on the last Saturday in March, hundreds of millions of people turn off their lights for one hour, on the same night, all across the world in a huge, symbolic show of support. <a
      href="http://www.earthhour.org/" target="_blank">Find out more and sign up today</a>. Connect with WWF on social media For daily updates, latest news and inspiring images, follow WWF on <a
      href="https://www.facebook.com/WWF" target="_blank">Facebook</a> or <a href="https://twitter.com/WWF" target="_blank">Twitter</a> (@WWF). </span></p>

    <p><strong><span style="line-height: 1.6;">Contact </span></strong></p>

    <p><span style="line-height: 1.6;">To find out more about WWF’s work through the HSBC Water Programme or how you can support WWF, please contact Claire Bunning, <a
      href="mailto:cbunning@wwf.org.uk">cbunning@wwf.org.uk</a>.</span></p>
  </div>
</div>

{% endblock content %}
